@import "./base_template.sass"

.data-input
    .input-table
        overflow: hidden
        padding-bottom: 1rem

        .input-table-header
            padding-top: 0.75rem

    .mode-default
        display: block

    .mode-add
        display: none

    .instructions
        font-weight: bold

