@import "./base_template.sass"
    
.listdisplay-container
    .listdisplay-header, .listdisplay
        .column
            border-left: 1px solid white
            border-right: 1px solid white

            &:first-child, &:last-child
                border-left: 0
                border-right: 0


    .listdisplay-header
        color: $yellow
        background-color: $dark
        padding: 0 15px
        border-bottom: 2px solid white;

        .column
            white-space: normal
            display: flex
            flex-direction: row
            align-items: center

    .listdisplay
        padding: 0 15px
        background-color: #E1E1DA

        &:nth-child(even)
            background-color: $light

        &:hover
            color: $yellow
            background-color: $dark

        .column p
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden
