[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "~=2.2"
django-environ = "*"
gunicorn = "*"
django-localflavor = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"
pillow = "*"
libsass = "*"
django-sass-processor = "*"
django-bulma = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
