#pledge-img {
  &:hover {
    cursor: pointer;
    #click-to-upload {
      opacity: 1;
      font-weight: 500;
    }
  }

  #click-to-upload {
    opacity: 0.75;
    max-width: 128px;
    text-align: center;
    padding: 5px;
  }
}

#hide-img-upload {
  display: none;
}
