{% extends 'bulma/base.html' %}
{% load static %}
{% load sass_tags %}
{% load bulma_tags %}

{% block title %}Pledge to Vote | {% block subtitle %}{% endblock subtitle %}{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'pledgetovote/sass/base_template.sass' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
{% block extra_css %}{% endblock %}
{% endblock css %}

{% block header %}
<div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://sunrisemovement.org/">
          <img src="{% static 'pledgetovote/sunrise_logo.png' %}" alt="Sunrise Movement: Pledge to Vote">
        </a>
      </div>

      <div id="pledgeMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'pledgetovote:dashboard' %}">Dashboard</a>
          <a class="navbar-item" href="{% url 'pledgetovote:data_entry_dash' %}">Input</a>
          <a class="navbar-item" href="{% url 'pledgetovote:program_guide' %}">Program Guide</a>
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'pledgetovote:sc_edit' %}">Settings</a>
        <a class="navbar-item" href="{% url 'logout' %}">Log out</a>
      </div>

      <div role="button" class="navbar-burger burger" aria-expanded="false" data-target="pledgeMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </nav>
  </div>
{% endblock header %}

{% block javascript %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="{% static 'pledgetovote/js/base_template.js' %}"></script>
    <script src="https://kit.fontawesome.com/cbbc396880.js" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
      crossorigin="anonymous"></script>
  {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}

{% block footer %}{% endblock footer %}
