{% extends 'pledgetovote/base_template.html' %}
{% load static %}
{% load bulma_tags %}

{% block subtitle %}Set Location{% endblock %}

{% block content %}

<h3 class="title">Set Location</h3>
<form class="media-content" method="post">
  {% csrf_token %}
  {{ form|bulma }}
  <div class="field">
    <input type="submit" class="button is-primary" value="Update Location">
  </div>
</form>

{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'pledgetovote/js/set_location.js' %}"></script>
{% endblock %}
