@import "./base_template.sass"

.dashboard .one-on-one-data
    align-items: unset

    #one-on-one-form #submit-one-on-ones
        margin: 20px 0 0 35px
        background-color: $yellow
        color: $dark
