{% extends 'bulma/base.html' %}
{% load static %}
{% load bulma_tags %}

{% block title %}Pledge to Vote | {% block subtitle %}{% endblock %}{% endblock %}

{% block header %}
<div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="{% static 'pledgetovote/sunrise_logo.png' %}" alt="Sunrise Movement: Pledge to Vote">
        </a>

        <div class="navbar-burger burger" data-target="pledge-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="pledge-menu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'pledgetovote:pledge_new' %}">
            New Pledge
          </a>
          <a class="navbar-item" href="{% url 'pledgetovote:set_location' %}">
            Set Location
          </a>
        </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  {% block extra_javascript %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
