{% extends 'strikecircle/base_template.html' %}
{% load sass_tags %}

{% block subtitle %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'strikecircle/sass/dashboard.sass' %}">
{% endblock extra_css %}

{% block content %}
<div class="dashboard">
    <div class="title is-2 dashboard-title">Strike Circle Central</div>
    <div class="title">{{ pledge_text|capfirst }}</div>
    <div class="pledge-data">
        {% block pledges %}{% endblock pledges %}
    </div>
    <hr class="hr">
    <div class="title">{{ one_on_one_text|capfirst }}</div>
    <div class="one-on-one-data">
        {% block one_on_ones %}{% endblock one_on_ones %}
    </div>
</div>
{% endblock content %}


