{% extends 'base_template.html' %}
{% load bulma_tags sass_tags sc_tags static %}

{% block subtitle %}Data Input{% endblock subtitle %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'strikecircle/sass/table.sass' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'strikecircle/sass/data_input_dashboard.sass' %}">
{% endblock extra_css %}

{% block content %}
<div class="data-input">
    <div class="title is-3 page-title">Strike Circle Pledge Tracker</div>
    <div class="level">
        <div class="level-left mode-default">
            <div class="sunrise-button primary" id="add-pledges-button">Add new pledges</div>
        </div>
        <div class="level-right mode-default">
            <div class="sunrise-button primary" id="edit-pledges-button">Edit pledges</div>
        </div>

        <div class="level-left mode-add">
            <p class="instructions">Fill in the new line to add a new pledge.</p>
            <p class="instructions">Click "Add another" when you're done to add another pledge.</p>
            <p class="instructions">When you're done entering pledges, click "Submit Pledges" to save your work!</p>
        </div>
        <div class="level-right mode-add">
            <span class="sunrise-button" id="add-another-button">Add another</span>
            <span class="sunrise-button" id="cancel-adding-button">Cancel Adding</span>
        </div>
        <div class="level-right mode-add">
            <div class="sunrise-button primary" id="submit-pledges-button">Submit Pledges</div>
        </div>

        <div class="level-left mode-edit">
            <p class="instructions">In edit mode, make edits directly to the table.</p>
            <p class="instructions">When you're done editing, click "Done editing" to save your edits.</p>
        </div>
        <div class="level-right mode-edit">
            <div class="sunrise-button" id="cancel-edit-button">Cancel editing</div>
        </div>
        <div class="level-right mode-edit">
            <div class="sunrise-button primary" id="submit-edits-button">Done editing</div>
        </div>
    </div>

    {{ misc_data.week_map|json_script:"week-map" }}

    <div class="input-table-header table-header columns">
        {% for header in table.header_row %}
            <div class="column {{ table.col_classes|index:forloop.counter0 }}">
                <p class="is-7">{{ header }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="input-table-add-container">
        <!-- An empty copy of the form to copy when adding new forms to the formset. We only want the visible
        fields, because the hidden_fields contains a hidden ID input, which is only needed if you're editing
        existing objects. Since we're only creating new items here, we'd cause an error by submitting the formset
        with hidden, empty ID fields. -->
        {% include 'strikecircle/_form_row.html' with form=add_pledges_formset.empty_form classes="template hidden" id="empty-clone" col_classes=table.col_classes form_num="__prefix__" %}

        <form id="add-pledges-form" method="post">
            {{ add_pledges_formset.management_form }}
            {% csrf_token %}
            <input type="hidden" name="form_type" value="add">
        </form>
    </div>

    <div id="edit-pledges-form-original">
        {% for form in edit_pledges_formset %}
            {% include 'strikecircle/_form_row.html' with form=form classes="hidden" col_classes=table.col_classes form_num=forloop.counter0 hidden_fields=True %}
        {% endfor %}
        {{ edit_pledges_formset.management_form }}
        {% csrf_token %}
        <input type="hidden" name="form_type" value="edit">
    </div>

    <form id="edit-pledges-form" class="hidden" method="post"></form>
    <span id="hidden-check" class="hidden fas fa-check"></span>

    {% for row in table.data %}
        <div class="table-row read-only-row columns"
            {% if table.hidden_data %}
                {% with table.hidden_data|index:forloop.counter0 as hidden_row_data %}
                    {% for key, val in hidden_row_data.items %}
                        data-{{ key }}="{{ val }}"
                    {% endfor %}
                {% endwith %}
            {% endif %}
        >
            {% for key, val in row.items %}
                <div class="column {{ table.col_classes|index:forloop.counter0 }}">
                    <p data-field="{{ key }}" data-value="{{ val }}" class="is-8">
                        {% if val != None %}
                            {{ val }}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

	{% if page_obj.paginator.num_pages > 1 %}
		<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
			<ul class="pagination-list">
				{% if page_obj.previous_page_number > 1 %}
					<li><a class="pagination-link" href="?page=1">1</a></li>
				{% endif %}

				{% if ellipsis_start %}
					<li><span class="pagination-ellipsis">&hellip;</span></li>
				{% endif %}

				{% if page_obj.has_previous %}
					<li><a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
				{% endif %}

				<li><a class="pagination-link is-current">{{ page_obj.number }}</a></li>

				{% if page_obj.has_next %}
					<li><a class='pagination-link' href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
				{% endif %}

				{% if ellipsis_end %}
					<li><span class="pagination-ellipsis">&hellip;</span></li>
				{% endif %}

				{% if page_obj.next_page_number < page_obj.paginator.num_pages %}
					<li><a class='pagination-link' href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}
</div>

{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'strikecircle/js/data_input_dashboard.js' %}"></script>
{% endblock extra_javascript %}
