{% extends 'base_template.html' %}
{% load sc_tags sass_tags static %}

{% block subtitle %}Data Input{% endblock subtitle %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'strikecircle/sass/table.sass' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'strikecircle/sass/data_input_dashboard.sass' %}">
{% endblock extra_css %}

{% block content %}
<div class="data-input">
    <div class="title is-3 page-title">Strike Circle Pledge Tracker</div>
    <div class="level">
        <div class="level-left mode-default">
            <div class="sunrise-button primary" id="add-pledges-button">Add new pledges</div>
        </div>
        <div class="level-right mode-default">
            <div class="sunrise-button primary" id="edit-pledges-button">Edit pledges</div>
        </div>
        <div class="level-left mode-add">
            <p class="instructions">Fill in the new line to add a new pledge.</p>
            <p class="instructions">Hit enter when you're done to add another pledge.</p>
        </div>
        <div class="level-right mode-add">
            <div class="sunrise-button primary" id="done-adding-button">Done Adding</div>
        </div>
        <div class="level-right mode-add">
            <div class="sunrise-button" id="cancel-button">Cancel Adding</div>
        </div>
    </div>
    {{ misc_data.week_map|json_script:"week-map" }}
    <div class="input-table table-container">
        <div class="input-table-header table-header columns">
            {% for header in table.header_row %}
            <div class="column {{ table.col_classes|index:forloop.counter0 }}">
                <p class="is-7">{{ header }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="input-table-add columns" id="table-input-row" style="display: none">
            <form method="post">
                {% csrf_token %}
                {{ form.as_ul }}
                <input type="submit" value="Submit">
            </form>
        </div>
        {% for row in table.data %}
        <div class="table-body columns"
        {% if table.hidden_data %}
        {% with table.hidden_data|index:forloop.counter0 as hidden_row_data %}
        {% for key, val in hidden_row_data.items %}
            data-{{ key }}="{{ val }}"
        {% endfor %}
        {% endwith %}
        {% endif %}
        >
            {% for key, val in row.items %}
            <div class="column {{ table.col_classes|index:forloop.counter0 }}">
                <p data-field="{{ key }}" data-value="{{ val }}" class="is-8">{{ val }}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'strikecircle/js/data_input_dashboard.js' %}"></script>
{% endblock extra_javascript %}
