{% extends 'strikecircle/base_template.html' %}
{% load bulma_tags %}
{% load static %}
{% load sass_tags %}

{% block subtitle %}New Pledge{% endblock subtitle %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'strikecircle/sass/pledge_form.sass' %}">
{% endblock extra_css %}

{% block content %}
<h3 class="title">{{ verb }} pledge</h3>
<br><br>

{% if verb == 'Update' %}
<section class="section">
  <div class="columns is-hidden-tablet pledge-img">
    <div class="column is-half">
      <figure class="image" style="background-image: url({{ form.initial.picture.url }});"></figure>
      <div class="box click-to-upload">Upload new image</div>
    </div>
    <br>
  </div>
</section>
{% endif %}

<div class="media">

  {% if verb == 'Update' %}
  <div class="media-left is-hidden-mobile pledge-img">
    <figure class="image" style="background-image: url({{ form.initial.picture.url }});"></figure>
    <div class="box click-to-upload">Upload new image</div>
  </div>
  {% endif %}

  <form class="media-content" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      {% if verb != 'Update' or not field|is_file %}
        {{ field|bulma }}
      {% else %}
        <span id="hide-img-upload">{{ field|bulma }}</span>
      {% endif %}
    {% endfor %}
    {{ address_form|bulma }}

    <input type="submit" name="submit" class="button is-primary" value="{{ verb }}">
    <input type="submit" name="submit-create-next" class="button is-info" value="Finish and create next">
</div>
{% endblock content %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'strikecircle/js/pledge_form.js' %}"></script>
{% endblock extra_javascript %}
