{% load sass_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'strikecircle/sass/thermometer.sass' %}">
{% endblock extra_css %}

<div class="thermometer-container">
    <div class="title is-6 thermometer-title">National {{ goal_name }} goal progress</div>
    <div class="thermometer-inner-container">
        <div class="thermometer-labels">
            <div class="goal">Goal: {{ data.goal }}</div>
            <div class="current-level">Current: {{ data.current }}</div>
        </div>
        <div class="thermometer" data-count="{{ data.current }}" data-goal="{{ data.goal }}">
            <div class="thermometer-cover"></div>
        </div>
    </div>
</div>

<!--
    Requires strikecircle/js/thermometer.js, but that has to be added to the extra_javascript block
    in the template that includes this template, because bulma/base.html puts extra_javascript at the
    bottom of the page...so if we added the thermometer.js script here, it would load before jQuery has
    loaded, and error.
-->
